* {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

:root {
  --cloudyColor: #F47775;
  --cloudyBackground: #F4F7F8;
  --rainColor: #164A68;
  --rainBackground: #A3DEF7;
  --clearColor: #2A5510;
  --clearBackground: #F7E9B9;
}

@font-face {
  font-family: Montserrat;
  src: url(Montserrat-VariableFont_wght.ttf);
}

body {
  padding: 5%;
}

.cloudy {
  background-color: var(--cloudyBackground);
  color: var(--cloudyColor);
}

.clear {
  background-color: var(--clearBackground);
  color: var(--clearColor);
}

.rain {
  background-color: var(--rainBackground);
  color: var(--rainColor);
}

#search,
#searchbtn {
  color: inherit;
  padding: 5px;
}

.forecastLine {
  border-bottom: 1px dashed;
  display: flex;
  flex-direction: row;
}

.forecastDate {
  width: 50%;
}

.forecastInfo {
  text-align: right;
  width: 50%;
}

.forecastIcon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}